[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "healthequal"]
	path = healthequal
	url = https://github.com/whoequity/healthequal
